<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<sqlMap namespace="BlogReplyMapper">

        <resultMap id="BlogReplyResult" type="BlogReply">
            <result property="id" column="id"/>
            <result property="cusId" column="cus_id"/>
            <result property="blogId" column="blog_id"/>
            <result property="content" column="content"/>
            <result property="addtime" column="addtime"/>
        </resultMap>

        <sql id="blog_reply_columns">
            blog_reply.id,
            blog_reply.cus_id,
            blog_reply.blog_id,
            blog_reply.content,
            blog_reply.addtime
        </sql>

        <sql id="blog_reply_properties">
            #{id},
            #{cusId},
            #{blogId},
            #{content},
            #{addtime}
        </sql>

        <insert id="createBlogReply" parameterType="BlogReply" keyColumn="id" keyProperty="id">
            insert INTO blog_reply (<include refid="blog_reply_columns"/>) VALUES (<include refid="blog_reply_properties"/>)
        </insert>

        <delete id="deleteBlogReplyById" parameterType="int">
            delete from blog_reply
            where
                id = #{value}




        </delete>

        <update id="updateBlogReply" parameterType="BlogReply">
            update blog_reply SET
                id = #{id},
                cus_id = #{cusId},
                blog_id = #{blogId},
                content = #{content},
                addtime = #{addtime}
            where
                id = #{id}




        </update>

        <select id="getBlogReplyById" resultMap="BlogReplyResult" parameterType="int">
            select
            <include refid="blog_reply_columns"/>
            from blog_reply
            where
                id = #value#




        </select>
		
        <select id="getBlogReplyList" resultMap="BlogReplyResult" parameterType="QueryBlogReplyCondition">
            select
            <include refid="blog_reply_columns"/>
            from blog_reply
        </select>
        
</sqlMap>