<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<sqlMap namespace="SugSuggestReplyMapper">

        <resultMap id="SugSuggestReplyResult" type="SugSuggestReply">
            <result property="id" column="id"/>
            <result property="cusId" column="cus_id"/>
            <result property="suggestId" column="suggest_id"/>
            <result property="content" column="content"/>
            <result property="type" column="type"/>
            <result property="isbest" column="isbest"/>
            <result property="addtime" column="addtime"/>
        </resultMap>

        <sql id="sug_suggest_reply_columns">
            sug_suggest_reply.id,
            sug_suggest_reply.cus_id,
            sug_suggest_reply.suggest_id,
            sug_suggest_reply.content,
            sug_suggest_reply.type,
            sug_suggest_reply.isbest,
            sug_suggest_reply.addtime
        </sql>

        <sql id="sug_suggest_reply_properties">
            #{id},
            #{cusId},
            #{suggestId},
            #{content},
            #{type},
            #{isbest},
            #{addtime}
        </sql>

        <insert id="createSugSuggestReply" parameterType="SugSuggestReply" keyColumn="id" keyProperty="id">
            insert INTO sug_suggest_reply (<include refid="sug_suggest_reply_columns"/>) VALUES (<include refid="sug_suggest_reply_properties"/>)
        </insert>

        <delete id="deleteSugSuggestReplyById" parameterType="int">
            delete from sug_suggest_reply
            where
                id = #{value}






        </delete>

        <update id="updateSugSuggestReply" parameterType="SugSuggestReply">
            update sug_suggest_reply SET
                id = #{id},
                cus_id = #{cusId},
                suggest_id = #{suggestId},
                content = #{content},
                type = #{type},
                isbest = #{isbest},
                addtime = #{addtime}
            where
                id = #{id}






        </update>

        <select id="getSugSuggestReplyById" resultMap="SugSuggestReplyResult" parameterType="int">
            select
            <include refid="sug_suggest_reply_columns"/>
            from sug_suggest_reply
            where
                id = #value#






        </select>
		
        <select id="getSugSuggestReplyList" resultMap="SugSuggestReplyResult" parameterType="QuerySugSuggestReplyCondition">
            select
            <include refid="sug_suggest_reply_columns"/>
            from sug_suggest_reply
        </select>
        
</sqlMap>