<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<sqlMap namespace="SugSuggestMapper">

        <resultMap id="SugSuggestResult" type="SugSuggest">
            <result property="id" column="id"/>
            <result property="cusId" column="cus_id"/>
            <result property="content" column="content"/>
            <result property="type" column="type"/>
            <result property="status" column="status"/>
            <result property="wisdomscore" column="wisdomscore"/>
            <result property="hotscore" column="hotscore"/>
            <result property="replycount" column="replycount"/>
            <result property="addtime" column="addtime"/>
        </resultMap>

        <sql id="sug_suggest_columns">
            sug_suggest.id,
            sug_suggest.cus_id,
            sug_suggest.content,
            sug_suggest.type,
            sug_suggest.status,
            sug_suggest.wisdomscore,
            sug_suggest.hotscore,
            sug_suggest.replycount,
            sug_suggest.addtime
        </sql>

        <sql id="sug_suggest_properties">
            #{id},
            #{cusId},
            #{content},
            #{type},
            #{status},
            #{wisdomscore},
            #{hotscore},
            #{replycount},
            #{addtime}
        </sql>

        <insert id="createSugSuggest" parameterType="SugSuggest" keyColumn="id" keyProperty="id">
            insert INTO sug_suggest (<include refid="sug_suggest_columns"/>) VALUES (<include refid="sug_suggest_properties"/>)
        </insert>

        <delete id="deleteSugSuggestById" parameterType="int">
            delete from sug_suggest
            where
                id = #{value}








        </delete>

        <update id="updateSugSuggest" parameterType="SugSuggest">
            update sug_suggest SET
                id = #{id},
                cus_id = #{cusId},
                content = #{content},
                type = #{type},
                status = #{status},
                wisdomscore = #{wisdomscore},
                hotscore = #{hotscore},
                replycount = #{replycount},
                addtime = #{addtime}
            where
                id = #{id}








        </update>

        <select id="getSugSuggestById" resultMap="SugSuggestResult" parameterType="int">
            select
            <include refid="sug_suggest_columns"/>
            from sug_suggest
            where
                id = #value#








        </select>
		
        <select id="getSugSuggestList" resultMap="SugSuggestResult" parameterType="QuerySugSuggestCondition">
            select
            <include refid="sug_suggest_columns"/>
            from sug_suggest
        </select>
        
</sqlMap>